.bodywrapper { background: url(../img/headerbg/btl.png) repeat-x center top; }
.topheader { background-image: url(../img/headerbg/bluetrans2.png); background-color: transparent; border-bottom: 0; }
.header { background-image: url(../img/headerbg/bluetrans.png); background-color: transparent; }
