@import url(fonts.css);

@media (min-width: 992px) {
	.container{
		width: 1200px;
	}
}

@media only screen and (max-width: 992px) {
    .showcase .caption h2 {
        font-size: 30px !important;
    }
}


/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	outline: none;
	/*box-sizing: content-box;*/
}

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/
/* 1.1 Defaults */
h1, h2, h3, h4, h5, h6, strong {
	font-family:'AvenirLTStd-Heavy';
}
i, em {
	font-style:italic;
}

a[href="javascript:void(0)"]{
	cursor: default;
}
a[href="javascript:void(0)"]:hover,
a[href="javascript:void(0)"]:focus,
a[href="javascript:void(0)"]:active{
	text-decoration: none;
}

.left {
	float:left;
}
.right {
	float:right;
}
.alignleft{
	text-align:left;
}
.alignright{
	text-align:right;
}
.aligncenter{
	text-align:center;
}
.spacer-30 {
	height:30px;
	clear:both;
	width:100%;
}
.clear  {
	display: block;
	clear:both;
	line-height:1px;
	height:1px;
}
.clearfix:before, .clearfix:after {
	display: table; content: " ";
}
.clearfix:after {
	clear: both;
}
.underline-link{
	color: #d61a0c;
	text-decoration: underline;
}
.underline-link:hover{
	text-decoration: none;
}

form fieldset{
	margin-top: 30px;
}
form fieldset legend{
	font-family: 'AvenirLTStd-Heavy';
	font-weight: normal;
	color: #000;
	font-size: 12px;
	margin-bottom: 12px;
	text-transform: uppercase;
}
form div.captcha{
	display: inline-block;
}
form div.captcha strong{
	font-size: 19px;
}
form div.captcha input.input{
	display: inline-block;
	width: 130px;
	margin: 0 25px;
	float: none;
}

.form-row .input,
.form-row .textarea{
	width: 241px;
	display: block;
}

#fale-conosco-trabalhe-conosco .form-row .input,
#fale-conosco-trabalhe-conosco .form-row .textarea{
	width: 400px;
}

textarea {
	overflow:auto;
	font-family:'AvenirLTStd-Medium', Arial, Helvetica, sans-serif; /* Body Font Family Will Come Here */
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#d61a0c;
}
address {
	font-style:normal;
}

/* 1.2 Common Tags */
.heading {
	margin-bottom:18px;
	color:#000;
	font-size:20px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:2px;
}
.input,
.textarea {
	background:#f9f9f9;
	border:1px solid #ddd;
	/*width:341px;*/
	height:34px;
	padding:5px 14px;
	/*line-height:24px;*/
	/*margin-bottom:10px;*/
	color:#000;
	font-size:14px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior:url(PIE.htc);
	position:relative;
	font-family:'AvenirLTStd-Medium';
}
.textarea {
	min-height:81px;
	padding:8px 14px 5px 14px;
	line-height:normal;
	resize:vertical;
}
.input2 {
	color:#929292;
	background:url(../img/bg_filter_input.png) repeat-x left top;
	box-shadow:rgba(138, 17, 8, 1) 0px 1px 1px;
	border:none;
	width:121px;
	height:34px;
	line-height:34px;
	padding:5px 10px;
	margin-right:6px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior:url(PIE.htc);
	position:relative;
}
.input3 {
	color:#929292;
	width:58px;
}
.button {
	background:#000;
	border:none;
	height:31px;
	line-height:31px;
	padding:0 5px 0 14px;
	display:inline-block;
	color:#fff;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	behavior:url(PIE.htc);
	position:relative;
	font-family:'AvenirLTStd-Black';
	white-space: nowrap;
}
.button span {
	background:url(../img/bg_button.png) no-repeat right center;
	width:20px;
	height:20px;
	float:right;
	margin:5px 0 0 10px;
}
.button:hover,
.button:focus,
.button:active{
	background:#272626;
	color:#fff;
	text-decoration: none;
}
.button.disabled,
.button[disabled]{
	padding-right: 14px;
}

.button.white{
	color: #191919;
	background: #fff;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,.3);
}
.button.white:hover{
	background-color: #F2F2F2;
}
.button.white span{
	background-image: url(../img/bg_button2.png);
}

.button-attachment::after{
	display: block;
	content: '';
	clear: both;
}
.button-attachment .input{
	float: left;
}
.button-attachment>div{
	float: left;
	cursor: default;
	position: relative;
	overflow: hidden;
	margin: 2px 0 0 10px;
}
.button-attachment input[type=file]{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	position: absolute;
	top: 0;
	height: 31px;
	width: 100%;
	z-index: 1001;
  	cursor: default;
}
.button-attachment button{
	cursor: default;
}

.style-select {
	background:url(../img/bg_select.png) repeat-x left top;
	box-shadow:rgba(138, 17, 8, 1) 0px 1px 1px;
	width:168px;
	height:34px;
	line-height:34px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior:url(PIE.htc);
	position:relative;
	font-family:'AvenirLTStd-Medium';
}
select.select{
	width:100% !important;
	height:34px !important;
	line-height:34px;
	position:relative;
	z-index:10;
}
span.select{
	background:url(../img/bg_select_arrow.png) no-repeat right top;
	width:100%;
	height:34px;
	line-height:34px;
	float:left;
	cursor:default;
	font-size:13px;
	color:#8d8d8d;
	font-weight:400;
	text-indent:10px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
}

.style-select.input{
	display: inline-block;
	width: 341px;
	height: 34px;
	padding: 0;
	box-shadow: none;
	float: left;
}

.select-with-checkbox .checkbox{
	display: none;
	position: absolute;
	width: 100%;
	top: 34px;
	left: 0;
	/*right: 0;*/
	background-color: #fff;
	margin: 0;
	padding: 7px;
	padding-bottom: 0;
	box-shadow: 0px 1px 6px 1px rgba(0,0,0,.35);
	z-index: 1001;
	max-height: 200px;
	overflow-y: auto;
	white-space: nowrap;
}
.select-with-checkbox .checkbox label{
	display: block;
	line-height: 14px;
	color: #000;
	margin: 0 0 7px;
	padding: 0;
	font-family: 'AvenirLTStd-Light';
	cursor: pointer;
	min-height: 0;
}
.select-with-checkbox .checkbox label input{
	position: static;
	margin: 0 8px 0 0;
	float: left;
}

p {
	line-height:17px;
}
/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
html.overflow-hidden,
body.overflow-hidden{
	overflow: hidden;
}

body {
	background:#fff;
	font-family: 'AvenirLTStd-Book', Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
/*.box {
	width:1170px;
	margin:0 auto;
}*/

/* 2.1 Top Bar */
.top-bar {
	background: #ddd;
	padding: 10px 0;
	font-size: 10px;
}

.top-bar .welcome-message{
	float: left;
	font-size: 12px;
	font-family:'AvenirLTStd-Medium';
}
.top-bar .welcome-message span{
	color: #000;
}
.top-bar .welcome-message a{
	font-family:'AvenirLTStd-Book';
}

.top-bar ul {
	float:right;
	margin-left:-35px;
}
.top-bar li {
	float:left;
	margin-left:35px;
	text-transform:uppercase;
}
.top-bar li a {
	display: inline-block;
	color: #838282;
	line-height: 14px;
	white-space: nowrap;
}
.top-bar li a:hover {
	color:#d61a0c;
}
/* 2.2 Header */
.header-top {
	padding:13px 0 14px 0;
}

.top_fixo .header-top{
	left: 0;
    right: 0;
    z-index: 999!important;
    box-shadow: 1px 1px 4px rgba(0,0,0,.15)!important;
}
/* 2.2.1 Logo */
.logo {
	width:219px;
	float:left;
	margin:0 0 0 -16px;
}
/* 2.2.2 Contact Info */
.contact-info {
	float:right;
	padding-top:8px;
}
.contact-info li {
	background:url(../img/sprite_icons.png) no-repeat left top;
	height:36px;
	line-height:16px;
	float:left;
	padding-left:43px;
	margin-left:35px;
	color:#d6190c;
	font-size:17px;
	text-transform:uppercase;
	letter-spacing:0.3px;
}
.contact-info li:first-child {
	margin-left:0;
}
.contact-info li a {
	color:#d6190c;
	font-size:14px;
}
.contact-info li a:hover,
.contact-info li a:hover span {
	color:#f64e43;
}
.contact-info li a small {
	display:block;
}
.contact-info li span {
	display:block;
	font-size:10px;
	color:#000;
}
.contact-info li.first {
	background-position:left top;
}
.contact-info li.second {
	background-position:left -36px;
}
.contact-info li.third {
	background-position:left -72px;
	line-height:36px;
}
.contact-info li.fourth {
	background-position:left -108px;
}
.contact-info li.fifth {
	background-position:left -144px;
}
.header-bottom {
	background:#000;
	height:37px;
}
.header .index {
	background:url(../img/ico_home.png) no-repeat left top;
	width:19px;
	height:17px;
	float:left;
	margin-top:9px;
	text-indent:-9999px;
}
.header .index:hover {
	background-position:left bottom;
}
/* 2.2.3 Naviagtion */
.navigation {
	float:right;
	margin-right:148px;
	font-size:11px;
}
.navigation.gap {
	margin-right:48px;
}
.navigation li {
	background:url(../img/divider.png) no-repeat left center;
	line-height:37px;
	float:left;
	padding-left:23px;
	margin-left:23px;
	text-transform:uppercase;
	letter-spacing:0.5px;
}
.navigation li:first-child {
	background:none;
	padding-left:0;
	margin-left:0;
	width: 91px;
}
.navigation li a {
	color:#fff;
}
.navigation li a:hover {
	color:#d61a0c;
	text-decoration: none;
}
/* 2.2.4 Social */
.social {
	float:right;
	margin-top:9px;
}
.social li {
	float:left;
	margin-left:14px;
}
.social li a {
	background:url(../img/sprite_social.png) no-repeat left top;
	width:20px;
	height:19px;
	display:block;
	text-indent:-9999px;
}
.social li a[title="facebook"] {
	background-position:left top;
}
.social li a:hover[title="facebook"] {
	background-position:left bottom;
}
.social li a[title="twitter"] {
	background-position:-20px top;
}
.social li a:hover[title="twitter"] {
	background-position:-20px bottom;
}
.social li a[title="gplus"] {
	background-position:-40px top;
}
.social li a:hover[title="gplus"] {
	background-position:-40px bottom;
}

/* 2.3 Showcase */
.conceitual-banners{
	position: relative;
}
.conceitual-banners .cycle-slide{
	width: 100%;
}
.conceitual-banners .cycle-slideshow a{
	display: block;
}

.showcase {
	/*background: url(../img/bg_showcase.jpg) no-repeat center top;*/
	background-repeat: no-repeat;
	background-position: center top;
    height: 500px;
	text-align:center;
	/*-webkit-background-size:cover;
	-khtml-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;*/
	position:relative;
    width: 100%;
    max-width: 100%;
}
.showcase .caption {
	padding-top:107px;
	font-size:18px;
}
.showcase .caption h2 {
    /*color:rgba(256, 256, 256, 0.80);*/
	color:white;
	font-size:100px;
	letter-spacing:17px;
}
.showcase .caption ul {
	margin-bottom:30px;
}
.showcase .caption li {
	background:url(../img/divider2.png) no-repeat left center;
	display:inline-block;
	padding-left:15px;
	margin-left:23px;
	letter-spacing:5px;
}
.showcase .caption li:first-child {
	background:none;
	padding-left:0;
	margin-left:0;
}
.showcase .caption li a {
	color:#fff;
}
.showcase .caption li a:hover {
	color:#d61a0c;
}

.showcase .caption .button {
	position: absolute;
	bottom: 150px;
	background: #d61a0c;
	text-decoration: none;
}
.showcase .caption .button span {
	background:url(../img/bg_button2.png) no-repeat right center;
	margin-left:16px;
}
.showcase .caption .button:hover {
	background:#bc1e12;
	text-decoration: none;
}
/* 2.3.1 Pagination */
.pagination {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	z-index: 1001;
	text-align: center;
}
.pagination span{
	display: inline-block;
	background: url(../img/sprite_pagination.png) no-repeat left top;
	width: 12px;
	height: 11px;
	margin-left: 10px;
	text-indent: -9999px;
}
.pagination span:first-child {
	margin-left:0;
}
.pagination span:hover,
.pagination span.cycle-pager-active{
	background-position:right top;
}

/*.pagination li a {
	background:url(../img/sprite_pagination.png) no-repeat left top;
	width:12px;
	height:11px;
	display:block;
	text-indent:-9999px;
}
.pagination li a:hover,
.pagination li.active a {
	background-position:right top;
}*/

/* 2.4 Filter */
.filter {
	background:#d61a0c;
	padding:16px 0 19px 0;
	margin-bottom:17px;
	color:#fff;
	font-size:14px;
}
.home .filter {
	margin-bottom:45px;
}
.inner .filter .button3 {
	background:#363334;
	border:none;
	color:#9a9999;
}
.inner .filter .col2 .common {
	width:166px;
}
.inner .filter .col2 .common ~ .common {
	width:177px;
}
.inner .filter .button span {
	background:url(../img/bg_button3.png) no-repeat right center;
}
.filter .search {
	background:url(../img/ico_search.png) no-repeat left top;
	height:26px;
	line-height:26px;
	padding-left:41px;
	margin-bottom:5px;
	display:inline-block;
	color:#fff;
	font-size:17px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.filter .col1 {
	width:211px;
	float:left;
}
.input-radio-style .button2 {
	background:transparent;
	color:#eb8d86;
	border:1px solid #a0231a;
	float:left;
	padding:0 13px 0 14px;
	font-size:11px;
	position: relative;
	margin: 0 3px;
}
.input-radio-style .button2 input{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.input-radio-style .button3:hover {
	background:#ededed;
	color:#d6190c;
}
.input-radio-style .button3 {
	background:#fff;
	color:#d6190c;
	border: solid 1px transparent;
	/*
	height:33px;
	line-height:33px;
	margin:-1px 0 0 7px;
	*/

}
.filter h4 {
	margin:4px 0 8px 0;
}
.filter .col2 {
	width:482px;
}
.filter .col2 .button {
	line-height:29px;
	margin-top:28px;
}
.filter .col2 .common {
	width:176px !important;
	float:left;
}
.filter .col2 .common  ~ .common {
	width:164px;
}
.filter .col3 {
	width:283px;
}
.filter .col4 {
	width:194px;
}
.filter .style-select2 {
	width:158px;
}

/* 2.5 Container */
.container {
	/*padding-bottom:57px;*/
}
/* 2.5.1 Property Listing */
.property-listing {
	margin-bottom:44px;
	position:relative;
}
.property-listing ~ .property-listing {
	margin-bottom:0;
}
.property-listing .prev,
.property-listing .next,
.carousel .prev,
.carousel .next {
	background:url(../img/sprite_arrow.png) no-repeat left top;
	width:17px;
	height:31px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:180px;
}
.property-listing .prev {
	background-position:left top;
	left:-45px;
}
.property-listing .prev:hover {
	background-position:left bottom;
}
.property-listing .next {
	background-position:right top;
	right:-15px;
}
.property-listing .next:hover {
	background-position:right bottom;
}
.property-listing h3 {
	margin-bottom:18px;
	color:#3f3f3f;
	font-size:21px;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:2px;
	/*padding-left: 15px;*/
}
.property-listing > ul {
	/*margin-left:-29px;
	width: 1200px;*/
	width: 100%;
}
.property-listing > ul > li{
	min-height: 362px;
}
.property-listing > ul > li > div{
	background:#eee;
	box-shadow:rgba(0, 0, 0, 0.20) 0px 1px 2px;
	/*
	width:270px;
	float: left;
	margin-left:29px;
	*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:0 0 5px 5px;
	behavior:url(PIE.htc);
	position:relative;
}
.property-listing > ul > li .imgb{
	height: 220px;
}
.property-listing > ul > li .imgb img{
	max-width: 100%;
}
.property-listing .txtb {
	padding:18px 14px;
}
.property-listing .txtb h4 {
	height: 40px;
	margin-bottom:5px;
	text-transform: uppercase;
	font-size: 14px;
}
.property-listing .txtb span {
	margin-bottom:10px;
	display:block;
	color:#444;
	font-size:10px;
	text-transform: uppercase;
}
/*.property-listing .row  {
	margin: 0 0 10px;
}*/

.property-listing ul ul li {
	background:url(../img/divider3.png) no-repeat left top;
	float:left;
	padding-left:11px;
	margin-left:12px;
	color:#868686;
	margin-bottom: 20px;
}
.property-listing ul ul li:first-child {
	background:none;
	padding-left:0;
	margin-left:0;
}
.property-listing ul ul li.valor > span{
	float: left;
	color: #d6190c;
	font-family:'AvenirLTStd-Roman';
	font-size: 12px;
	line-height: 22px;
	margin-right: 7px;
	letter-spacing: -.25px;
	text-transform: uppercase;
}
.property-listing ul ul li small {
	color:#d6190c;
}
.property-listing ul ul li strong {
	color:#d6190c;
	font-size:18px;
}
.property-listing .button {
	white-space: nowrap;
}
.property-listing .button span {
	margin-left:8px;
}
.property-listing .rank {
	display: inline-block;
	background:url(../img/sprite_rank.png) no-repeat right top;
	width:18px;
	height:17px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	right:15px;
	bottom:26px;
}
.property-listing .rank:hover,
.property-listing .rank.active {
	background-position:left bottom;
}
/* 2.5.2 Breadcrumb */
.breadcrumb-container{
	padding-bottom: 0;
}
.breadcrumb {
	margin-bottom: 31px;
	background: none;
	padding: 0;
}
.breadcrumb.gap {
	margin-bottom:13px;
}
.breadcrumb li {
	float: left;
	color: #d61a0c;
	text-transform: uppercase;
	white-space: nowrap;
}
.breadcrumb>li+li:before{
	content: url(../img/arrow.png);
}
.breadcrumb li:first-child {
	padding-left:0;
}
.breadcrumb li a {
	color:#d61a0c;
}
.breadcrumb li a:hover {
	color:#f64e43;
}
/* 2.5.3 Contact */
.contact .heading {
	margin-bottom:33px;
}
.contact .indicate {
	background:url(../img/ico_admin.png) no-repeat left top;
	height:19px;
	line-height:19px;
	float:right;
	padding-left:25px;
	font-size:11px;
	letter-spacing:0.7px;
	white-space: nowrap;
}
.contact ul {
	margin-left:-30px;
}
.contact li a{
	display: inline-block;
}
.contact li h4 {
	line-height:15px;
	margin-bottom:5px;
	color:#d5190b;
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:1.3px;
}
.contact li p {
	letter-spacing:-0.3px;
}
.contact li {
	background:url(../img/sprite_icons2.png) no-repeat left top;
	width:282px;
	float:left;
	height:61px;
	padding-left:86px;
	margin:0 0 35px 30px;
}
.contact li.first {
	background-position:left top;
}
.contact li.second {
	background-position:left -61px;
}
.contact li.third {
	background-position:left -122px;
}
.contact li.fourth {
	background-position:left -183px;
}
.contact li.fifth {
	background-position:left -244px;
}
.contact li.sixth {
	background-position:left -305px;
}
.contact li.seventh {
	background-position:left -366px;
}
.contact li.eighth {
	background-position:left -427px;
}
/* 2.5.4 Social Media */
.social-media {
	margin-bottom:20px;
}
.social-media h4 {
	margin:8px 0;
	font-size:16px;
	text-transform:uppercase;
}
.social-media p {
	margin-bottom:14px;
}
.social-media li {
	float:left;
	margin-left:25px;
}
.social-media li:first-child {
	margin-left:0;
}
.social-media li a {
	background:url(../img/sprite_social_media.png) no-repeat left top;
	width:46px;
	height:46px;
	display:block;
	text-indent:-9999px;
}
.social-media li a[title="facebook"] {
	background-position:left top;
}
.social-media li a[title="facebook"]:hover {
	background-position:left bottom;
}
.social-media li a[title="linkedin"] {
	background-position:-46px top;
}
.social-media li a[title="linkedin"]:hover {
	background-position:-46px bottom;
}
.social-media li a[title="twitter"] {
	background-position:-92px top;
}
.social-media li a[title="twitter"]:hover {
	background-position:-92px bottom;
}
.social-media li a[title="gplus"] {
	background-position:-138px top;
}
.social-media li a[title="gplus"]:hover {
	background-position:-138px bottom;
}
.social-media li a[title="youtube"] {
	background-position:-184px top;
}
.social-media li a[title="youtube"]:hover {
	background-position:-184px bottom;
}
.social-media li a[title="save"] {
	background-position:-230px top;
}
.social-media li a[title="save"]:hover {
	background-position:-230px bottom;
}
.social-media li a[title="pinterest"] {
	background-position:-276px top;
}
.social-media li a[title="pinterest"]:hover {
	background-position:-276px bottom;
}
/* 2.5.5 Location */
.location{
	/*margin-bottom: 48px;*/
}
.location h4 {
	margin-bottom:8px;
	font-weight:400;
	text-transform:uppercase;
}
address {
	line-height:17px;
	margin-bottom:10px;
}
address span {
	display:block;
}
.leftcol {
	width:860px;
	float:left;
}
.rightcol {
	width:272px;
	float:right;
	margin-top:30px;
}
.enterprises .heading {
	margin-bottom:10px;
}
.enterprises h4 {
	margin-bottom:25px;
	font-size:18px;
	text-transform: uppercase;
}
.enterprises .col1 {
	width:490px;
	float:left;
	margin:0 0 44px -1px;
}
.enterprises .imgb {
	width:484px;
	float:left;
	margin-bottom:2px;
	position:relative;
}
.enterprises .imgb img{
	max-width: 100%;
	border:6px solid #eee;
}
.tour-virtual {
	background:url(../img/img_tour_virtual.png) no-repeat right top;
	width:74px;
	height:75px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	right:17px;
	top:15px;
}
.enterprises .col1 span {
	color:#9c9c9c;
	font-style:italic;
}
.enterprises-info {
	width:339px;
	float:right;
}
.enterprises-info .row {
	background: #d5190b;
	padding: 11px 18px;
	margin: 0 0 17px;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
}
.enterprises-info .row strong {
	text-transform:uppercase;
	display: block;
    line-height: 18px;
}
.enterprises-info .price {
	float:right;
	font-size:18px;
}
.enterprises-info dl dt,
.enterprises-info dl dd {
	width:116px;
	float:left;
	margin-bottom:9px;
	text-transform:uppercase;
}
.enterprises-info dl dd {
	width:222px;
	font-family:'AvenirLTStd-Heavy';
	letter-spacing:0.5px;
}
.enterprises-info dl dd.area{
	text-transform: none;
}
.property-description {
	margin-bottom:40px;
}
/* 2.5.6 Featured */
.featured{
	margin-bottom: 50px;
}
.featured ul {
	width:226px;
	float:left;
	margin:5px 10px 0 0;
}
.featured ul ~ ul ~ ul {
	width:214px;
}
.featured ul ~ ul ~ ul ~ ul {
	width:160px;
	margin-right:0;
}
.featured li {
	background:url(../img/ico_bullets.png) no-repeat left center;
	padding-left:8px;
	margin-bottom:6px;
	font-size:13px;
}
/* 2.5.7 Video */
.location2 .row{
	margin: 0;
}
.video .heading,
.property-list .heading,
.location2 .row .heading {
	margin:11px 0 24px 0;
}
.video .video-box {
	height:716px;
}
.video .play {
	background:url(../img/ico_play2.png) no-repeat left top;
	width:159px;
	height:86px;
	margin:-43px 0 0 -79px;
	text-indent:-9999px;
	display:block;
	position:absolute;
	top:50%;
	left:50%;
}
/* 2.5.8 Property List */
.property-list {
	margin-bottom:40px;
}
.property-list > ul {
	margin-bottom:14px;
}
.property-list > ul > li {
	background:#eee;
	/*width:138px;*/
	float:left;
	padding:4px;
	position:relative;
}
.property-list > ul > li > a {
	display:block;
}
.property-list .tour-virtual {
	text-align:center;
	margin:-37px 0 0 -37px;
	display:none;
	left:50%;
	top:50%;
}
.property-list li:hover .tour-virtual,
.property-list li.active .tour-virtual {
	display:block;
}
.download {
	background:url(../img/ico_camera.png) no-repeat left top;
	height:24px;
	line-height:28px;
	padding-left:34px;
	display:inline-block;
	color:#D92E21;
	font-size:11px;
	letter-spacing:1px;
	white-space: nowrap;
}
.download:hover {
	color:#f64e43;
}
.location2 {
	margin-bottom:54px;
}
.location2 .map2 {
	width:543px;
	height:317px;
}
.icons-set {
	float:right;
	margin-bottom:10px;
}
.icons-set li {
	float:left;
	margin-left:17px;
}
.icons-set li:first-child {
	margin-left:0;
}
.icons-set li a {
	background:url(../img/sprite_icons3.png) no-repeat left top;
	width:38px;
	height:37px;
	display:block;
	text-indent:-9999px;
	position: static;
	margin: 0;
}
.icons-set li a.list {
	background-position:left top;
}
.icons-set li a.list:hover {
	background-position:left bottom;
}
.icons-set li a.play {
	background-position:-38px top;
}
.icons-set li a.play:hover {
	background-position:-38px bottom;
}
.icons-set li a.gallery {
	background-position:-76px top;
}
.icons-set li a.gallery:hover {
	background-position:-76px bottom;
}
.icons-set li a.location {
	background-position:-114px top;
}
.icons-set li a.location:hover {
	background-position:-114px bottom;
}
/* 2.5.9 Fillform */
.fillform {
	margin-bottom:53px;
}
.fillform h4 {
	background:#191919;
	padding:11px 0 16px 25px;
	margin-bottom:12px;
	color:#fff;
	font-size:17px;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:3.5px;
}
.fillform h4 span {
	margin-top:11px;
	display:block;
	font-size:14px;
	text-transform:none;
	letter-spacing:normal;
}
.fillform .input,
.fillform .textarea {
	/*width:242px;*/
}
.fillform .button {
	line-height:27px;
	padding-left:10px;
	font-size:11px;
}
.fillform .button span {
	background:url(../img/bg_button3.png) no-repeat right top;
	margin:3px 0 0 23px;
}
.contact-info2 {
	margin:0 0 36px 5px;
}
.contact-info2 li {
	background:url(../img/sprite_icons4.png) no-repeat left top;
	height:19px;
	line-height:19px;
	padding-left:33px;
	margin-bottom:13px;
	display:block;
	font-size:11px;
	letter-spacing:1px;
}
.contact-info2 li a {
	display: inline-block;
	color:#000;
}
.contact-info2 li a:hover {
	color:#d61a0c;
}
.contact-info2 li.first {
	background-position:left top;
}
.contact-info2 li.second {
	background-position:left -19px;
}
.contact-info2 li.third {
	background-position:left -38px;
}
.contact-info2 li.fourth {
	background-position:left -57px;
}
.contact-info2 li.fifth {
	background-position:left -76px;
}
.contact-info2 li.sixth {
	background-position:left -95px;
}
.contact-info2 li.seventh {
	background-position:left -114px;
}
.column-left {
	width:270px;
	float:left;
}
.column-right {
	width:872px;
	float:right;
}

/* 2.5.10 Side Bar */
.side-bar {
	/*padding-top:8px;*/
}
.side-bar h4,
.side-bar .data li {
	margin-bottom:39px;
	font-size:18px;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:2px;
}
.user-info {
	margin-bottom:27px;
}
.user-info .imgb {
	border:5px solid #ddd;
	width:223px;
	height:223px;
	margin:0 0 19px 10px;
	-o-border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	behavior:url(PIE.htc);
	position:relative;
	overflow:hidden;
}
.user-info .imgb a{
	display: inline-block;
}
.user-info .imgb img {
	behavior:url(PIE.htc);
	position:relative;
	width: 223px;
	min-height: 223px;
	-o-border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
}
.user-info strong {
	font-size:20px;
	letter-spacing:2px;
}
.side-bar .data {
	border:1px solid #ccc;
	border-bottom:none;
	width:216px;
	margin-bottom:10px;
}
.side-bar .data li {
	border-bottom:1px solid #ccc;
	margin-bottom:0;
}
.side-bar .data li a {
	background:#f9f9f9;
	height:37px;
	line-height:37px;
	padding-left:29px;
	display:block;
}
.side-bar .data li a:hover {
	background:#eee;
}
.side-bar .contact-info {
	float:none;
	margin-bottom:25px;
}
.side-bar .contact-info li {
	float:none;
	margin:0 0 16px 0;
}
.social-media2 li {
	float:left;
	margin-left:15px;
}
.social-media2 li:first-child {
	margin-left:0;
}
.social-media2 li a {
	background:url(../img/sprite_social_media2.png) no-repeat left top;
	width:38px;
	height:38px;
	display:block;
	text-indent:-9999px;
	text-transform:uppercase;
}
.social-media2 li a[title="facebook"] {
	background-position:left top;
}
.social-media2 li a[title="facebook"]:hover {
	background-position:left bottom;
}
.social-media2 li a[title="twitter"] {
	background-position:-38px top;
}
.social-media2 li a[title="twitter"]:hover {
	background-position:-38px bottom;
}
.social-media2 li a[title="gplus"] {
	background-position:-76px top;
}
.social-media2 li a[title="gplus"]:hover {
	background-position:-76px bottom;
}
/* 2.5.11 Tab */
.tab {
	/*margin-bottom:225px;*/
	margin-bottom:50px;
}
.tab.gap {
	/*margin-bottom:100px;*/
	margin-bottom:50px;
}
.tab .row {
	border-bottom:1px solid #ccc;
	margin: 0 0 16px;
}
.tab .row2 {
	margin: 0 0 22px;
}
.tab .row2 h4 {
	text-transform:uppercase;
}
.tab .tab-nav li {
	border:1px solid #ccc;
	border-bottom:none;
	float:left;
	margin-right:2px;
	font-size:18px;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:2px;
}
.tab .tab-nav li a {
	background:#ccc;
	height:38px;
	line-height:38px;
	padding:0 24px 0 22px;
	display:block;
	color:#fff;
	text-align:center;
}
.tab .tab-nav li a:hover,
.tab .tab-nav li.active a {
	background:#f9f9f9;
	color:#000;
}
/* 2.5.12 Select Bar */
.select-bar {
	float:right;
	padding-right:8px;
}
.select-bar .button {
	line-height:27px;
	float:right;
	font-size:11px;
	margin-left:15px;
}
.select-bar .style-select {
	background:url(../img/bg_select2.png) repeat-x left top;
	box-shadow:none;
	float:right;
}
.select-bar .download {
	background:url(../img/ico_download.png) no-repeat left top;
	width:16px;
	height:18px;
	float:right;
	padding-left:0;
	margin:8px 0 0 15px;
	text-indent:-9999px;
}
.download:hover {
	color:#f64e43;
}
.property-listing2 .common {
	margin-bottom:18px;
	height: 198px;
}
.property-listing2 .imgb {
	width: 270px;
	height: 198px;
	float:left;
	overflow: hidden;
}

.property-listing2 .txtb {
	background:#ededed;
	box-shadow:rgba(0, 0, 0, 0.30) 1px 1px 2px;
	width:567px;
	height:198px;
	padding:17px 16px 14px 25px;
	float:left;
	letter-spacing:0.2px;
	behavior:url(PIE.htc);
	position:relative;
}
.property-listing2 .txtb h4 {
	line-height:20px;
	margin-bottom:8px;
	font-size:16px;
	text-transform:uppercase;
}
.property-listing2 .txtb h4 span {
	font-family:'AvenirLTStd-Light';
}
.property-listing2 .txtb p {
	margin-bottom:12px;
}
.property-listing2 .txtb .col1 {
	width:185px;
	float:left;
}
.property-listing2 .txtb .col1 dl {
	margin-bottom:5px;
}
.property-listing2 .txtb .col1 dt {
	width:40px;
	float:left;
}
.property-listing2 .txtb .col1 dd {
	text-transform:uppercase;
}
.property-listing2 .txtb dd.area{
	text-transform: none;
}
.property-listing2 .txtb .price {
	margin-top:21px;
	color:#D6190C;
	font-size:18px;
	font-weight:700;
}
.property-listing2 .txtb .col2 {
	width:200px;
	float:right;
	margin-top:18px;
	position:relative;
	text-align: right;
}
.property-listing2 .txtb .button {
	margin-bottom:7px;
}
.property-listing2 .txtb .button span {
	margin-left:13px;
}
.rank2 {
	background:url(../img/sprite_rank.png) no-repeat right top;
	height:17px;
	line-height:19px;
	padding-right:26px;
	display:inline-block;
	font-size:9px;
}
.rank2:hover,
.rank2.active {
	background-position:right bottom;
}
.rank2.active{
	text-indent: -9999px;
}

.rank::before,
.rank2::before{
	display: block;
	content: 'Adicionar aos favoritos';
	text-transform: uppercase;
	opacity: inherit;
}
.rank.active::before,
.rank2.active::before{
	content: 'Remover dos favoritos';
	opacity: inherit;
}

.rank.disabled,
.rank2.disabled{
	cursor: not-allowed;
	opacity: .5;
}
.rank.disabled:hover,
.rank.disabled:focus,
.rank.disabled:active,
.rank2.disabled:hover,
.rank2.disabled:focus,
.rank2.disabled:active{
	color: #000;
	background-position:right top;
	text-decoration: none;
}

.property-listing2 .label {
	background:#eee;
	box-shadow:rgba(0, 0, 0, 0.30) 1px 1px 2px;
	width:30px;
	float:right;
	min-height:198px;
	behavior:url(PIE.htc);
	position:relative;
	padding: 0;
}
.property-listing2 .label .checkbox {
	margin:90px 0 0 6px;
}

.optimize-search{
	margin-bottom: 50px;
}
.optimize-search h4 {
	background:#191919;
	line-height:48px;
	margin-bottom:25px;
	color:#fff;
	text-align:center;
}

.optimize-search .button2 {
	background:#d5190b;
	color:#fff;
}
.optimize-search .button2:hover {
	background:#ededed;
	color:#d6190c;
}
.optimize-search .button3 {
	background:transparent;
	border:1px solid #d5190b;
	color:#d5190b;
}

.optimize-search .button4 {
	height:25px;
	line-height:23px;
	margin:10px 0 0;
	letter-spacing:normal;
}
.optimize-search .button4.fechar span {
	background:url(../img/bg_button4.png) no-repeat right center;
	margin-top:2px;
}
.optimize-search .button4.abrir span{
	background:url(../img/bg_button4_down.png) no-repeat right center;
	margin-top:2px;
}

.form-label {
	margin:30px 0 10px;
	display:block;
	text-transform:uppercase;
	clear:both;
}

.optimize-search .filtro-bairros .cidade{
	position: relative;
	margin-bottom: 20px;
}
.optimize-search .filtro-bairros .todos-bairros{
	margin-bottom: 30px;
}
.optimize-search .filtro-bairros h3{
	font-family: 'AvenirLTStd-Medium';
	font-size: 16px;
	margin-bottom: 7px;
	margin-right: 5px;
	float: left;
}
.optimize-search .filtro-bairros a.remove-city{
	float: left;
	display: block;
	width: 12px;
	height: 12px;
	background: url(../img/ico_close.png) no-repeat center center/cover;
	margin: 2px 0 0 12px;
}

.optimize-search .checkbox {
	margin: 0 0 3px;
	font-size: 14px;
	color: #969696;
}
.optimize-search .checkbox label {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	padding: 0;
	min-height: none;
}
.optimize-search .checkbox input {
	margin-left: 0;
	position: static;
}

.range-slider {
	margin: 10px 0 15px;
}
.range-slider span {
	margin-top:5px;
	color:#9c9c9c;
	font-size:13px;
}
.range-slider strong {
	padding-right:5px;
	display:inline-block;
	color:#333;
	text-align:center;
	min-width:60px;
	float: left;
}
.range-slider .min-range {
	width: 33.33%;
	float:left;
	text-align:left;
}
.range-slider .max-range {
	width: 66.66%;
	float:right;
	text-align:right;
}
.range-slider .max-range::after{
    content: ' ou +';
}
.pagination2 {
	float:left;
	text-align:center;
}
.pagination2 * {
	box-sizing: content-box;
}
.pagination2 ul,
.pagination2 li {
	display:inline-block;
}
.pagination2 li a {
	display: inline-block;
	font-family:'AvenirLTStd-Heavy';
	width: 14px;
	height: 14px;
	line-height: 14px;
	padding:5px;
	margin-right:4px;
	color:#d5190b;
	text-indent:0;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-ms-border-radius:100%;
	behavior:url(PIE.htc);
	position:relative;
}

.pagination2 a:hover,
.pagination2 li.active a,
.pagination2 li.prev a,
.pagination2 li.next a{
	background:#d5190b;
	color:#fff;
}
.pagination2 a.prev {
	margin-right:4px;
}
.pagination2 li.prev a,
.pagination2 li.next a{
	width: auto;
	padding:5px 15px;
	font-size:10px;
	text-transform:uppercase;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	-ms-border-radius:20px;
	behavior:url(PIE.htc);
	position:relative;
}
.pagination2 li.prev a{
	background:url(../img/ico_pagination_arrow_left.png) no-repeat 6px center #d5190b;
	padding-left:27px;
}
.pagination2 li.next a{
	background:url(../img/ico_pagination_arrow.png) no-repeat 95% center #d5190b;
	padding-right:27px;
}
.pagination2 li.prev:hover a{
	background:url(../img/ico_pagination_arrow_left.png) no-repeat 6px center #e61b0c;
}
.pagination2 li.next:hover a{
	background:url(../img/ico_pagination_arrow.png) no-repeat 95% center #e61b0c;
}

.pagination a:hover,
.pagination2 a:hover{
	text-decoration: none;
}

/* 2.5.13 Contact Us */
.contact-us {
	margin-bottom:227px;
}
.contact-us .heading {
	font-size:19px;
}
.press-office {
	width:362px;
	float:left;
	margin-right:35px;
}
.press-office p {
	margin-bottom:19px;
}
.press-office ul {
	margin-bottom:32px;
}
.press-office li {
	background:url(../img/arrow2.png) no-repeat left center;
	padding-left:19px;
	margin-bottom:12px;
	font-family:'AvenirLTStd-Medium';
	text-transform:uppercase;
	letter-spacing:0.4px;
}
.press-office li a {
	color:#d5190b;
}
.press-office span a {
	color:#d5190b;
	font-weight:700;
}
.press-office span a:hover {
	text-decoration:underline;
}
/* 2.5.14 Contact Form */
.contact-form {
	width:275px;
	float:left;
}
.contact-form .input,
.contact-form .textarea {
	width:243px;
}
.contact-form .heading {
	margin:0 0 14px 5px;
}
.contact-form .button {
	line-height:27px;
}
.contact-form .button span {
	background:url(../img/bg_button3.png) no-repeat right top;
	margin:3px 0 0 18px;
}
.maintenance {
	/*margin-bottom:138px;*/
}
.maintenance .heading {
	margin-bottom:22px;
}
.maintenance h4 {
	margin-bottom:12px;
	text-transform:uppercase;
	font-weight:normal;
}
.maintenance .row {
	margin: 0 0 8px;
}
.maintenance .form-group{
	margin-bottom: 0;
}
.maintenance .input {
	margin:0 25px 10px 0;
}
.maintenance .input.none {
	margin-right:0;
}
.maintenance .row2 .input {
	width:129px;
	margin:0 15px 0 12px;
}
.maintenance .row span,
.maintenance label {
	margin-bottom:18px;
	display:block;
	color:#969696;
	font-size:14px;
}
.maintenance label {
	float:left;
	margin:0 40px 22px 0;
	cursor: pointer;
}
.maintenance .checkbox {
	margin: 0 6px 0 0;
	float: left;
}
.maintenance .textarea {
	width:100%;
}
.maintenance .col1 {
	width:707px;
	float:left;
}
.maintenance .col2 {
	width: 341px;
	float: left;
	margin-left: 25px;
}
.maintenance .row2 strong {
	font-size:19px;
	letter-spacing:1.5px;
}
.maintenance .button span {
	background:url(../img/bg_button3.png) no-repeat right top;
	margin-left:17px;
}
.maintenance .button-attachment>input{
	width: 200px;
}
/* 2.5.15 Register */
.register {
	margin-bottom:73px;
}
.register h4 {
	margin-bottom:26px;
}
.register .row3 {
	border-bottom:1px solid #ddd;
	padding-bottom:25px;
	margin-bottom:22px;
}
.register .row3 .button {
	margin-left:10px;
}
.register .input {
	margin-bottom:18px;
}
.register .row4 h4 {
	margin-top:5px;
}
.social2 {
	float:right;
	margin-bottom:10px;
}
.social2 .facebook,
.social2 .google {
	background:#000;
	height:31px;
	line-height:31px;
	float:right;
	padding:0 18px 0 8px;
	margin-left:18px;
	color:#fff;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	cursor:pointer;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	behavior:url(PIE.htc);
	position:relative;
	font-family:'AvenirLTStd-Black';
}
.social2 .facebook:hover,
.social2 .google:hover {
	background:#272626;
	color:#fff;
}
.social2 .facebook span,
.social2 .google span {
	background:url(../img/sprite_facebook.png) no-repeat left top;
	width:21px;
	height:20px;
	float:left;
	margin:5px 16px 0 0;
}
.social2 .google span {
	background:url(../img/sprite_google.png) no-repeat left top;
}
.social2 .facebook:hover span,
.social2 .google:hover span {
	background-position:left bottom;
}
/* 2.5.16 Developments */
.developments  {
	/*margin-bottom:20px;*/
}
.developments .heading {
	margin-bottom:7px;
	font-size:19px;
}
.developments p {
	margin-bottom:30px;
}
.developments > ul {
	margin-bottom:32px;
}
.developments > ul > li {
	background:url(../img/divider4.png) no-repeat left center;
	padding-left:19px;
	margin-right:14px;
	float:left;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:1.2px;
}
.developments > ul > li:first-child {
	background:none;
	padding-left:0;
}
.developments > ul > li > a {
	color:#7a7a7a;
}
.developments > ul > li > a:hover {
	color:#000;
}
.developments .common {
	padding-top: 10px;
	margin-bottom:20px;
}
.developments .common ul {}
.developments .common li {
	/*width:575px;*/
	position:relative;
	margin: 0 0 42px;
}
.developments .common li > div{
	position: relative;
}
.developments .common li a {
	display:block;
}
.developments .common li img{
	display: block;
	width: 100%;
}
.developments .common li .caption {
	background:url(../img/bg_caption.png) left top;
	width:100%;
	height:53px;
	line-height:53px;
	position:absolute;
	bottom:0;
	left:0;
}
.developments .common li .caption h4 {
	padding-left:16px;
	color:#fff;
	font-size:19px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:2px;
}
.developments .arrow {
	background:url(../img/bg_button.png) no-repeat left top;
	width:20px;
	height:20px;
	float:right;
	margin:16px 14px 0 0;
	text-indent:-9999px;
	position:relative;
}
/* 2.5.17 Institutional */
.institutional  {
	/*margin-bottom:8px;*/
}
.institutional .heading {
	margin-bottom:11px;
}
.institutional h4 {
	margin-bottom:12px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:normal;
}
.institutional p {
	margin-bottom:25px;
}
.diffrential,
.admin-description{
	margin-bottom:32px;
}
.diffrential li,
.admin-description li {
	background:url(../img/arrow3.png) no-repeat left 4px;
	line-height:17px;
	padding-left:16px;
}

.diffrential ul ul{
	display: inline-block;
	margin: 0!important;
}
.diffrential ul ul::after{
	content: '';
	display: block;
	clear: both;
}
.diffrential ul ul li{
	display: inline-block;
	background: none;
	margin: 0!important;
	padding: 0;
}
.diffrential ul ul li:first-child::before{
	content: '-';
	display: inline-block;
}
.diffrential ul ul li::before{
	content: '|';
	display: inline-block;
	margin: 0 2px;
}

.carousel2 {
	position:relative;
	margin-bottom:30px;
}
.carousel2 ul {
	margin-left:-30px;
	width: 1200px;
}
.carousel2 li {
	margin-left:30px;
	float:left;
}
.carousel2 a.prev,
.carousel2 a.next {
	background:url(../img/sprite_arrow.png) no-repeat left top;
	width:17px;
	height:31px;
	display:block;
	margin-top:-15px;
	text-indent:-9999px;
	position:absolute;
	top:50%;
}
.carousel2 a.prev {
	background-position:left top;
	left:-50px;
}
.carousel2 a.prev:hover {
	background-position:left bottom;
}
.carousel2 a.next {
	background-position: right top;
	right:-50px;
}
.carousel2 a.next:hover {
	background-position:right bottom;
}
.video-box {
	width:1000px;
	height:559px;
	margin:0 auto;
	position:relative;
}
.play {
	background:url(../img/ico_play.png) no-repeat left top;
	width:121px;
	height:121px;
	margin:-60px 0 0 -60px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	left:50%;
}
/* 2.5.18 Content */
.content .heading {
	margin-bottom:30px;
	font-size:19px;
}
.content .coll {
	width:545px;
}
.content h4 {
	margin-bottom:15px;
	text-transform:uppercase;
	font-weight:normal;
}
.content h4 small {
	text-transform: none;
	font-size: smaller;
}
.content span {
	padding:0 0 12px 15px;
	display:block;
	color:#969696;
	font-size:14px;
}
.content span strong {
	font-family:'AvenirLTStd-Heavy';
}
.content span a {
	color:#969696;
}
.content span a:hover {
	text-decoration:underline;
}
.content .input,
.content .textarea {
	width:390px;
	margin-bottom:12px;
}
.content .row2 {
	margin:20px 0 20px 0;
}
.content .button span {
	background:url(../img/bg_button3.png) no-repeat right center;
	padding:0;
}
.content .account {
	margin-left:20px;
	display:inline-block;
	color:#eea19b;
	font-size:14px;
}
.content .account:hover {
	color:#d61a0c;
}
/* 2.5.19 Partners */
.partners {
	/*margin-bottom:27px;*/
}
.partners .heading {
	margin-bottom:10px;
	font-size:19px;
}
.partners ul {
	margin-left:-24px;
}
.partners li {
	border:1px solid #f2f2f2;
	text-align:center;
	display:inline-block;
	margin:0 0 20px 7px;
	float: left;
}
/* 2.5.20 About Box */
.newsletter-box{
	margin-top: 50px;
	margin-bottom: 57px;
	position: relative;
}

.about-box h4,
.clients h4 {
	margin-bottom:18px;
	font-size:19px;
	font-weight:300;
	letter-spacing:2px;
}
.about-box  p {
	padding-right:20px;
}
.about-box .col1 {
	width:370px;
	float:left;
	margin-right:30px;
}

.newsletter-box>.alert{
	position: absolute;
	top: 15px;
	left: 0;
	right: 0;
}
.alert + .about-box{
	padding-top: 93px
}
/* 2.5.21 Newsletter */
.newsletter-input {
	background:url(../img/bg_newsletter_input.png) no-repeat left top #e8e8e8;
	box-shadow:rgba(0, 0, 0, 0.50) 0px 1px 1px;
	border:none;
	width:171px;
	height:34px;
	/*line-height:34px;*/
	padding:5px 13px;
	margin:21px 0 19px 0;
	color:#000;
	font-size:12px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	behavior:url(PIE.htc);
	position:relative;
}
.newsletter .button {
	line-height:27px;
}
.newsletter .button span {
	margin-left:25px;
}

/* 2.6 Clients */
.clients {
	background:#eee;
	padding:31px 0 25px 0;
}
.clients h4 {
	margin-bottom:10px;
}
.clients .col1 {
	width:205px;
	float:left;
}
.clients .carousel .cycle-slideshow,
.clients .carousel .cycle-slideshow > ul{
	width: 820px;
	margin: 0 auto;
}
.clients .carousel a{
	display: block;
	overflow: hidden;
	text-align: center;
}
.clients .carousel a img{
	/*height: 100%;*/
}

/* 2.6.1 Carousel */
.clients .carousel {
	width:896px;
	float:right;
	padding-top:2px;
	margin-right:29px;
	text-align:center;
	position:relative;
}
.carousel .prev,
.carousel .next {
	top:22px;
}
.carousel .prev {
	background-position:left top;
	left:0;
}
.carousel .prev:hover {
	background-position:left bottom;
}
.carousel .next {
	background-position:right top;
	right:0;
}
.carousel .next:hover {
	background-position:right bottom;
}
.carousel li {
	display:inline-block;
	margin-left:31px;
}
.carousel li:first-child {
	margin-left:0;
}

/* 2.7 Footer */
.footer {
	background:#000;
	padding:25px 0 64px 0;
	color:#fff;
}
.footer-top {
	margin-bottom:30px;
}
/* 2.7.1 Footer Links */
.footer-links {
	margin-bottom:26px;
}
.footer-links h5 {
	line-height:17px;
	margin-bottom:34px;
}
.footer-links h5 a {
	display: inline-block;
	color: inherit;
}
.footer-links li {
	margin-bottom:4px;
}
.footer-links li a {
	color:#878787;
}
.footer-links li a:hover {
	color:#fff;
}
.footer-links .col {
	float:left;
	margin-right:10px;
}
.footer-links .col1 {
	width:134px;
}
.footer-links .col2 {
	width:161px;
}
.footer-links .col2 h5 {
	margin-bottom:17px;
}
.footer-links .col3 {
	width:170px;
}
.footer-links .col4 {
	width:167px;
}
.footer-links .col5 {
	width:121px;
}
.footer-links .col6 {
	width:120px;
	float:left;
}
/* 2.7.2 Social Plugin */
.social-plugin {
	float:left;
	padding-top:17px;
}
.social-plugin > div{
	float: left;
	margin-right: 25px;
}
.social-plugin .gp{
	width: 57px;
}

.footer-top .txtb {
	float:right;
	padding:12px 130px 0 0;
}
.footer-top .txtb address {
	margin-bottom:7px;
}
/* 2.7.3 Footer Logo */
.footer-logo {
	width:219px;
	float:right;
}
.footer-bottom .row {
	background:#fff;
	padding:11px 0 16px 0;
	margin: 0 0 24px;
	position:relative;
}
.footer-bottom .contact-info {
	margin-right:143px;
}
.footer .close {
	background:url(../img/ico_close.png) no-repeat right center;
	width:18px;
	height:18px;
	display:block;
	text-indent:-9999px;
	position:absolute;
	right:8px;
	top:8px;
}
.footer-bottom p {
	line-height:14px;
	color:#777;
	font-size:10px;
}

/* Área do cliente */
.area-do-cliente .content{
	display: flex;
    justify-content: flex-start;
}
.area-do-cliente #form-login-area-cliente,
.area-do-cliente #form-area-restrita{
	width: 330px;
	background-color: #191919;
	padding: 20px;
	margin-bottom: 5px;
	margin-right: 20px;
}
.area-do-cliente #form-login-area-cliente > h1,
.area-do-cliente #form-area-restrita > h1
{
	font-family:'AvenirLTStd-Light';
	font-size: 19px;
	color: white;
	margin-bottom: 12px;
}
.area-do-cliente #form-login-area-cliente input,
.area-do-cliente #form-area-restrita ul{
	width: 100%;
}
.area-do-cliente #form-area-restrita ul li{
	margin: 0 0px 22px 0;
}
.area-do-cliente #form-area-restrita ul li a{
	display: block;
    line-height: 24px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    font-family: 'AvenirLTStd-Medium';
    text-align: center;
    font-size: 25px;
}
.area-do-cliente #form-area-restrita ul li a:hover{
	color: #000;
    background: rgba(255,255,250,.8);
    text-decoration: none
}
.area-do-cliente #form-area-restrita p{
	color: #fff;
    font-size: 15px;
    padding: 7px 0 0;
}
.area-do-cliente #esqueci-minha-senha{
	float: right;
	line-height: 31px;
	font-family:'AvenirLTStd-Medium';
}

.area-do-cliente .acessar-redes-sociais > div{
	padding-top: 10px;
}
.area-do-cliente .acessar-redes-sociais a{
	display: inline-block;
}

.area-do-cliente .tab-content{
	position: relative;
}
.area-do-cliente .select-bar{
	position: absolute;
    top: -59px;
    right: 0;
}

/* Documentos e garantias */
#documentos-index .documents-list > ul{
	counter-reset: section;
}
#documentos-index .documents-list > ul > li{
	margin-bottom: 30px;
	position: relative;
	padding-left: 43px;
}
#documentos-index .documents-list > ul > li::before{
	counter-increment: section; /* Increment the section counter*/
	content: "0" counter(section);
	display: block;
	padding-left: 2px;
	width: 27px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background: #111111;
	color: #fff;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#documentos-index .documents-list h1{
	font-family: 'AvenirLTStd-Light';
	font-size: 19px;
	line-height: 28px;
	color: #000;
	margin-bottom: 12px;
}

#documentos-index .press-office{
	float: none;
	width: 100%;
}
#documentos-index .press-office ul{
	margin: 20px 0 0;
}
#documentos-index .press-office li{
	font-family:'AvenirLTStd-Light';
	font-size: 13px;
	text-transform: none;
	letter-spacing: 0;
	margin-bottom: 5px;
}
#documentos-index .press-office li a{
	font-family:'AvenirLTStd-Heavy';
}

/* Venda seu imóvel */
.venda-seu-imovel .input{
	float: left;
}
.venda-seu-imovel .button-attachment .input{
	width: 210px;
	margin-right: 15px;
}
.venda-seu-imovel .button-attachment>div{
	width: 105px;
}

.loading-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .925);
    z-index: 10001;
}
.loading-modal.aguarde::after{
	color: #000;
	font-size: 21px;
	font-family:'AvenirLTStd-Medium';
	display: block;
	content: 'Aguarde...';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -10px;
	margin-left: -50px;
}

@-webkit-keyframes modal_active {
    from { top: -100px; }
    to { top: 0; }
}
@keyframes modal_active {
    from { top: -100px; }
    to { top: 0; }
}
.alert-modal{
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10001;
}
.alert-modal.active{
    -webkit-animation-name: modal_active;
    -webkit-animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;

    animation-name: modal_active;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
.alert-modal > .close{
	display: inline-block;
	margin: 4px 9px 0;
    font-size: 32px;
}
.alert-modal > span{
	display: block;
	padding: 25px;
	font-size: 21px;
	font-family:'AvenirLTStd-Medium';
}

/* range slider */
.noUi-background{
	background-color: #E3E3E3!important;
}
.noUi-connect{
	background-color: #F4877E!important;
	box-shadow: none!important;
}
.noUi-horizontal {
	height: 8px!important;
	border: 0!important;
}
.noUi-horizontal .noUi-handle{
	width: 20px!important;
	height: 20px!important;
	background-color: #D5190B!important;
	box-shadow: none!important;
	border: none!important;
	border-radius: 100%!important;
}
.noUi-handle::after,
.noUi-handle::before{
	width: 2px!important;
	height: 9px!important;
}
.noUi-handle::before{
	left: 7px!important;
}
.noUi-handle::after{
  right: 7px!important;
  left: auto!important;
}

/* Modals */
.modal-default{
	width: 380px;
}
.modal-default h1{
	font-family:'AvenirLTStd-Light';
	font-size: 19px;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 15px;
	line-height: 1.2;
}
.modal-default p{
	margin-bottom: 10px;
}
.modal-default .form-control{
	box-sizing: border-box;
	width: 100%;
	height: 34px;
}
.modal-default .half-input::after{
	display: block;
	content: '';
	clear: both;
}
.modal-default .half-input .form-control{
	float: left;
	width: 47%;
}
.modal-default .half-input .form-control:nth-child(even){
	float: right;
}

.fancybox-overlay{
	background: rgba(0,0,0,0.57)!important;
}
.fancybox-skin{
	padding: 35px!important;
	border-radius: 0!important;
	border: 0!important;
	/*box-shadow: 0 0 0 5px rgba(0,0,0,.39)!important;*/
    box-shadow: 0 0 0 5px #eee !important;
}
.fancybox-close{
	background-image: url(../img/ico_close_modal.png) !important;
	width: 14px!important;
	height: 15px!important;
	top: 10px!important;
	right: 10px!important;
}
.fancybox-type-image .fancybox-skin{
	padding: 0!important;
}
.fancybox-type-image .fancybox-close{
	top: -30px!important;
	right: -30px!important;
}

/* Alerts */
.alert {
	font-size: 14px;
	line-height: 1.3;
}
.nav-tabs{
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.nav-tabs .active{
	font-family:'AvenirLTStd-Heavy';
}

.form-group{
	margin-bottom: 10px;
}

#imoveis-comparar .property-listing > ul > li > div{
	margin-bottom: 27px;
	border: 2px solid transparent;
	box-sizing: border-box;
	transition: border ease .2s;
	position: relative;
}
#imoveis-comparar .property-listing > ul > li:hover > div,
#imoveis-comparar .property-listing > ul > li.hover > div{
	border-color: #d61a0c;
}
#imoveis-comparar .property-listing > ul > li > div .remove-imovel{
	position: absolute;
	top: -9px;
	right: -9px;
	background: url(../img/ico_close.png) no-repeat center center;
	display: block;
	width: 18px;
	height: 18px;
	z-index: 999;
}

#imoveis-comparar .caracteristicas{
	margin-top: 15px;
}
#imoveis-comparar .caracteristicas > span{
	font-size: 16px;
	margin: 0 0 7px;
}
#imoveis-comparar .caracteristicas > ul{
	margin-bottom: 20px;
}
#imoveis-comparar .caracteristicas > ul > li{
	display: block;
	float: none;
	background: none;
	padding: 0;
	margin: 0 0 5px;
}
#imoveis-comparar .caracteristicas > ul > li b{
	color: #d61a0c;
}
#imoveis-comparar .property-listing > ul img{
	width: 100%;
}

.input-error-required{
	border: solid 1px red;
}

/* Fonts */
.top-bar, .navigation, .property-listing .txtb, .breadcrumb, .contact li h4, .user-info strong, .maintenance strong, .content span strong  {
	font-family:'AvenirLTStd-Heavy';
}
.contact-info, .filter .search, .property-listing .row li big {
	font-family:'AvenirLTStd-Book';
}
.contact-info li span, .property-listing .row li small {
	font-family:'AvenirLTStd-Roman';
}
.showcase .caption h2, .filter h4, .enterprises .col1 span, .fillform h4 span, .maintenance .row span, .maintenance label, .content span, .content .account {
	font-family:'AvenirLTStd-Medium';
}
.showcase .caption li a, .property-listing h3, .about-box h4, .clients h4, .heading, .fillform h4, .side-bar h4, .side-bar .data li, .tab .tab-nav li, .developments .common li .caption h4  {
	font-family:'AvenirLTStd-Light';
}
.contact .indicate, .enterprises-info .price, .enterprises-info .row strong, .contact-info2 li, .property-list .download, .property-listing2 .txtb .col1 dd, .property-listing2 .txtb .price, .property-listing2 .txtb .col2 .rank2 {
	font-family:'AvenirLTStd-Black';
}

ul.carac_imovel {
    width: 23% !important;
    margin: 15px 10px 0 0 !important;
}


div.tapamapa{
	width: 370px;
	height: 170px;
	position: absolute;
	
} 