@font-face {
	font-family:'AvenirLTStd-Black';
	src: url('../fonts/AvenirLTStd-Black_gdi.eot');
	src: url('../fonts/AvenirLTStd-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Black_gdi.woff') format('woff'),
		url('../fonts/AvenirLTStd-Black_gdi.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Black_gdi.svg#AvenirLTStd-Black') format('svg');
	font-weight: 750;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
@font-face {
	font-family:'AvenirLTStd-Book';
	src: url('../fonts/AvenirLTStd-Book_gdi.eot');
	src: url('../fonts/AvenirLTStd-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Book_gdi.woff') format('woff'),
		url('../fonts/AvenirLTStd-Book_gdi.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Book_gdi.svg#AvenirLTStd-Book') format('svg');
	font-weight: 350;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
@font-face {
	font-family:'AvenirLTStd-Heavy';
	src: url('../fonts/AvenirLTStd-Heavy_gdi.eot');
	src: url('../fonts/AvenirLTStd-Heavy_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Heavy_gdi.woff') format('woff'),
		url('../fonts/AvenirLTStd-Heavy_gdi.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Heavy_gdi.svg#AvenirLTStd-Heavy') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
@font-face {
	font-family:'AvenirLTStd-Light';
	src: url('../fonts/AvenirLTStd-Light_gdi.eot');
	src: url('../fonts/AvenirLTStd-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Light_gdi.woff') format('woff'),
		url('../fonts/AvenirLTStd-Light_gdi.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Light_gdi.svg#AvenirLTStd-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
@font-face {
	font-family:'AvenirLTStd-Medium';
	src: url('../fonts/AvenirLTStd-Medium_gdi.eot');
	src: url('../fonts/AvenirLTStd-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Medium_gdi.woff') format('woff'),
		url('../fonts/AvenirLTStd-Medium_gdi.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Medium_gdi.svg#AvenirLTStd-Medium') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}
@font-face {
	font-family:'AvenirLTStd-Roman';
	src: url('../fonts/AvenirLTStd-Roman_gdi.eot');
	src: url('../fonts/AvenirLTStd-Roman_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirLTStd-Roman_gdi.woff') format('woff'),
		url('../fonts/AvenirLTStd-Roman_gdi.ttf') format('truetype'),
		url('../fonts/AvenirLTStd-Roman_gdi.svg#AvenirLTStd-Roman') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}