@media only screen and (max-width: 767px) {

	/*.fancybox-inner{
		width: 250px!important;
		width: 75vw!important;
	}*/


	.form-control,
	.input,
	.textarea{
		width: 100%;
	}

	.top-bar ul{
		margin: 0;
	}
	.top-bar li{
		width: 50%;
		text-align: center;
		margin: 0;
		padding: 5px;
	}
	.top-bar li a{
		white-space: initial;
	}

	.logo{
		float: none;
		width: 100%;
		text-align: center;
		margin: 15px 0 35px;
	}

	.contact-info{
		float: none;
	}
	.contact-info li{
		display: block;
		float: none;
		margin: 0 0 10px;
		text-align: center;
		background-position-x: 25%!important;
		-moz-background-position-x: 25%!important;
	}

	.top_fixo .logo{
		margin: 0;
	}
	.top_fixo .logo img{
		width: 40%;
	}
	.top_fixo .contact-info{
		display: none;
	}

	.showcase{
		background-color: #d61a0c;
		background-size: contain;
	}

	.filter .col1,
	.filter .col2{
		width: 100%;
		margin-bottom: 10px;
	}

	.filter .common{
		display: block;
		width: 50%!important;
		margin: 0;
		padding: 0 20px 0 0;
	}
	.filter .col2 .button{
		clear: both;
		margin-top: 10px;
	}
	.filter .style-select{
		width: 100%;
	}

	.filter .col3 input,
	.filter .col4 input{
		float: left;
	}
	.filter .col3 button,
	.filter .col4 button{
		float: left;
		margin: 2px 0 0 7px;
	}

	/* imóveis */
	.optimize-search .checkbox{
		float: left;
		width: 50%;
	}

	/* parceiros & clientes */
	.partners ul{
		margin: 0;
	}
	.partners li{
		float: none;
		width: 100%;
		margin: 0 0 20px;
	}
	.partners li img{
		width: 100%;
		max-width: 100%;
	}

	/* contato */
	.contact ul{
		margin: 0;
	}
	.contact li{
		display: block;
		width: 100%;
		float: none;
		margin: 0 0 30px;
	}

	/* área do cliente */
	.column-left,
	.column-right{
		float: none;
		width: 100%;
	}

	.area-do-cliente .content .coll,
	.area-do-cliente .content .input,
	.area-do-cliente .content .textarea{
		width: 100%;
	}

	.area-do-cliente .button-attachment>div{
		margin-left: 0;
	}

	.area-do-cliente .user-info .imgb{
		margin: 0 auto 30px;
	}

	.area-do-cliente .social-media2{
		text-align: center;
		margin-bottom: 30px;
	}
	.area-do-cliente .social-media2 > ul{
		display: inline-block;
	}
	.area-do-cliente .social-media2 li{
		margin: 0 7px;
	}

	.user-info{
		text-align: center;
	}


	/* manutenção */
	.maintenance .col1,
	.maintenance .col2{
		width: 100%;
		margin: 0;
	}
	.maintenance .input,
	.maintenance .form-control{
		width: 100%;
		margin: 0 0 10px;
	}

	.maintenance .col2{
		margin-top: 30px;
	}

	/* documentos */
	#documentos-index .documents-list h1{
		line-height: 1.1;
	}
	#documentos-index .press-office li{
		margin-bottom: 15px;
	}
	.diffrential ul ul{
		display: block;
	}
	.diffrential ul ul li{
		display: block;
	}
	.diffrential ul ul li::before{
		content: '-';
	}

	/* footer */
	.about-box .col1{
		float: none;
		width: 100%;
		margin-bottom: 60px;
	}
	.about-box img{
		max-width: 100%;
	}

	.newsletter>form{
		margin-top: 10px;
	}
	.newsletter-input{
		display: block;
		margin: 0 0 10px;
		float: none;
	}

	.clients .carousel li{
		display: block;
		width: 50%;
		height: 60px;
		line-height: 60px;
		margin: 0 0 20px;
	}
	.clients .carousel li img{
		width: 100%;
		height: auto;
	}
	.carousel .prev,
	.carousel .next{
		top: 50%;
		margin-top: -15px;
	}

	.footer-links{
		margin-bottom: 0;
	}
	.footer-links .col{
		width: 50%;
		margin: 0 0 20px;
	}

	.footer-top > .clearfix{
		text-align: center;
	}
	.social-plugin{
		float: none;
		display: inline-block;
	}
	.footer-logo{
		float: none;
		display: block;
		margin: 20px 0 40px;
		width: 100%;
	}
	.footer-top .txtb{
		float: none;
		width: 100%;
		padding: 0;
	}

	.footer-bottom .row{
		margin: 0 -15px 40px;
		padding: 25px;
	}
	.footer-bottom .contact-info{
		margin-right: 0;
	}

	.social-media li{
		width: 50%;
		display: block;
		margin: 0 0 30px;
		padding: 0 20px 0 0;
	}
	.social-media li a{
		line-height: 46px;
		padding-left: 46px;
		text-indent: 15px;
		text-transform: capitalize;
	}

	/* empreendimentos */
	.developments > ul > li{
		float: none;
		display: block;
		padding: 0;
		margin: 0 0 5px;
		background: none;
	}
	.developments .common li{
		margin-bottom: 15px;
	}

	.enterprises-info{
		width: 100%;
	}

	.enterprises-info dl dt,
	.enterprises-info dl dd{
		width: 100%;
		float: none;
		display: block;
	}
	.enterprises-info dl dd{
		margin-bottom: 20px;
	}

	.property-list > ul > li{
		width: 50%;
		margin: 0;
	}
	.property-list > ul > li img{
		width: 100%;
	}

	/* fale conosco */
	.fale-conosco .contact-form{
		margin-top: 30px;
	}

}