@media only screen and (max-width: 992px) { /* Tablet e mobile */

	.breadcrumb li{
		white-space: initial;
	}

	.contact-us{
		margin-bottom: 0;
	}

	.modal-default{
		width: 100%;
	}
	.fancybox-skin{
		padding: 20px!important;
	}

	.fancybox-type-image .fancybox-close{
		top: -40px!important;
		right: 0px!important;
	}
	.fancybox-nav span{
		visibility: visible!important;
	}
	.fancybox-prev{
		left: -33px!important;
	}
	.fancybox-next{
		right: -33px!important;
	}

	/* header */
	.top-bar{
		text-align: center;
	}

	.top-bar .welcome-message{
		float: none;
		margin-bottom: 15px;
	}

	.top-bar ul{
		float: none;
		display: inline-block;
	}

	.header-bottom{
		height: auto;
	}
	.header .header-bottom .container{
		width: 100%;
		padding: 0;
	}

	.header .index{
		margin-left: 25px;
	}
	.header .social{
		margin-right: 25px;
	}

	.navigation{
		clear: both;
		float: none;
		width: 100%;
		padding-top: 9px;
	}
	.navigation li,
	.navigation li:first-child{
		float: left;
		width: 50%;
		margin: 0;
		padding: 5px 10px;
		background: #d61a0c;
		border-bottom: solid 1px #fff;
		text-align: center;
	}
	.navigation li a:hover{
		color: #000;
	}

	/* banners */
	.showcase{
		height: 50vw;
	}
	.showcase .caption h2{
		font-size: 48px;
	}
	div#conceitual-banners-pager.pagination {
		bottom: 0%;
		padding: 0px;
		margin: 3% 0;
	}

	/* listagem de imóveis */
	.property-listing > ul{
		margin: 0;
		width: 100%;
	}
	.property-listing > ul > li{
		margin-bottom: 30px;
	}
	.property-listing > ul > li .imgb{
		height: auto;
	}
	.property-listing > ul > li .imgb img{
		width: 100%
	}

	.property-listing .prev{
		left: -15px;
	}
	.property-listing .next{
		right: -15px;
	}

	.fillform .input,
	.fillform .textarea{
		width: 100%;
	}

	/* sobre */
	.carousel2,
	.carousel2 ul{
		width: 100%;
		margin: 0;
	}
	.carousel2{
		margin-bottom: 30px;
		padding: 10px;
	}
	.carousel2 li{
		width: 33.33%;
		margin: 0;
		padding: 0 7px;
	}
	.carousel2 li a{
		display: block;
	}
	.carousel2 li img{
		display: block;
		max-width: 100%;
	}
	.carousel2 a.prev{
		left: -10px;
	}
	.carousel2 a.next{
		right: -10px;
	}

	.sobre .video-box{
		width: 100%;
		height: auto;
	}
	.sobre .video-box iframe,
	.sobre .location iframe{
		width: 100%!important;
		height: 200px!important;
	}

	.sobre .location{
		margin-bottom: 50px;
	}

	/* footer */
	.footer-bottom .contact-info{
		margin: 0;
	}

	.footer-top .txtb{
		clear: both;
		text-align: center;
		margin: 0 auto;
		float: none;
		padding: 40px 30px 15px;
	}

	.clients .col1{
		float: none;
		width: 100%;
		text-align: center;
		margin: 0 0 25px;
	}
	.clients .carousel{
		width: 100%;
		float: none;
		margin: 0;
		padding: 0 17px;
	}
	.clients .carousel .cycle-slideshow,
	.clients .carousel .cycle-slideshow > ul{
		width: 100%;
	}
	.clients .carousel li{
		width: 20%;
		margin: 0;
		padding: 0 15px;
		float: left;
	}
	.clients .carousel li a img{
		width: 100%;
		height: auto;
	}

	.about-box .col1{
		width: 50%;
		margin: 0;
	}

	.newsletter{
		clear: both;
		padding-top: 50px;
	}
	.newsletter form{
		margin-top: 20px;
	}
	.newsletter-input{
		display: block;
		float: none;
		margin: 0 0 10px;
	}

	/* imóveis */
	.select-bar{
	    position: static!important;
	    float: none;
	    margin: 0 0 30px;
	    text-align: center;
	}
	.select-bar .button{
		float: none;
		margin: 0 0 10px;
	}
	.select-bar .style-select{
		float: none;
		margin: 0 auto;
		text-align: left;
	}
	.select-bar .download{
		display: none;
	}

	.property-listing2 .common{
		height: auto;
		position: relative;
	}

	.property-listing2 .txtb{
		width: 90%;
		height: auto;
	}
	.property-listing2 .label{
		width: 8.5%;
	    position: absolute;
	    top: 198px;
	    right: 0;
	    bottom: 0;
	}
	.property-listing2 .label .checkbox{
	    position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    margin-top: -7px;
	}

	.property-listing2 .imgb{
		width: 100%;
	}
	.property-listing2 .imgb a{
		display: block;
	}
	.property-listing2 .imgb img{
		display: block;
		width: 100%;
		max-width: 100%;
	}

	.property-listing2 .txtb .col1{
		width: 100%;
		float: none;
	}
	.property-listing2 .txtb .col2{
	    clear: both;
	    float: none;
	    margin: 25px 0 0;
	    width: 100%;
	    text-align: center;
	}

	.tab .row2 .left{
		float: none;
		margin-bottom: 30px;
	}
	.tab .row2 .left > h4{
		font-size: 21px;
		text-align: center;
	}

	.optimize-search{}
	.optimize-search .cidade::after{
		content: '';
		clear: both;
		display: block;
	}

	#form-optimize-search button[type=submit]{
		margin-top: 15px;
	}

	.range-slider-content,
	.range-slider{
		width: 90%;
    	margin: 0 5%;
	}
	.range-slider{
		margin-top: 10px;
	}

	/* detalhes do imóvel */
	#imoveis-detalhes{}

	#imoveis-detalhes .rightcol,
	#imoveis-detalhes .leftcol,
	#imoveis-detalhes .enterprises .col1{
		float: none;
		width: 100%;
	}

	#imoveis-detalhes .enterprises .imgb,
	#imoveis-detalhes .enterprises .imgb img{
		width: 100%;
	}
	#imoveis-detalhes .enterprises-info{
		clear: both;
		float: none;
		margin-bottom: 50px;
	}

	#imoveis-detalhes .icons-set{
		float: none;
	}

	#imoveis-detalhes .map iframe,
	#imoveis-detalhes .map #map-canvas{
		width: 100%!important;
		height: 300px!important;
	}

	#imoveis-detalhes .map{
		float: none;
		margin: 0 0 30px;
	}

	.alert-modal > span{
		font-size: 17px;
		padding: 20px;
	}

	/* área do cliente */
	.content .coll,
	.content .input,
	.content .textarea{
		width: 100%;
	}

	/* empreendimentos */
	.video .video-box{
		width: 100%;
		height: auto;
	}
	.video .video-box iframe{
		height: 250px!important;
	}

}

@media only screen and (min-width: 768px) and (max-width: 992px) { /* Apenas tablet */

	.fancybox-inner{
		width: 500px!important;
	}
	.fancybox-type-image .fancybox-inner{
		width: auto!important;
	}

	.logo{
		width: 100%;
		float: none;
		margin: 15px auto 35px;
		text-align: center;
	}

	.contact-info{
		float: none;
		clear: both;
	}
	.contact-info li{
		width: 15%;
	    font-size: 12px;
	    line-height: 1;
	    margin-left: 5%;
	}
	.contact-info li a{
		display: block;
		font: inherit;
		line-height: 1;
	}

	.top_fixo .logo{
		margin: 0 auto 10px;
	}
	.top_fixo .logo img{
		width: 15%;
	}

	.filter .col2 .common,
	.filter .col1 .common{
		display: block;
		width: 168px;
		margin-right: 10px;
	}
	.filter .col2 .button{
		margin-top: 26px;
	}

	.filter .col3,
	.filter .col4{
		float: left;
		width: auto;
		margin: 10px 30px 0 0;
	}

	/* imóveis */
	.property-listing2 .imgb{
		height: 240px;
	}
	.property-listing2 .label{
		top: 240px;
	}

	.property-listing2 .txtb .button{
		float: left;
	}
	.property-listing2 .txtb .rank2{
		float: right;
	}

	.property-list > ul > li{
		width: 20%;
	}
	.property-list > ul > li img{
		width: 100%;
	}

	/* área do cliente */
	.column-left{
		width: 40%;
	}
	.column-right{
		width: 55%;
	}

	.area-do-cliente .side-bar .contact-info li{
		width: 100%;
		font-size: 15px;
		line-height: normal;
	}

	/* manutenção */
	.maintenance .col1{
		width: 64.66%;
		margin: 0 2% 0 1%;
	}
	.maintenance .col2{
		width: 31.33%;
		margin: 0;
	}

	.venda-seu-imovel .button-attachment .input{
		width: 100%;
	}

	.maintenance .input,
	.maintenance .form-control,
	.fale-conosco .input,
	.fale-conosco .form-control{
		width: 31.33%;
		margin: 0 1% 2%;
		float: left;
	}

	.fale-conosco .form-row{
		width: 50%;
		margin: 0;
	}
	.fale-conosco .form-row .form-control,
	.contact-form .form-control{
		width: 100%;
		margin: 0 0 10px;
	}

	.contact ul{
		margin: 0;
	}
	.contact ul li{
		width: 48%;
		margin: 0 0 30px;
	}
	.contact ul li:nth-child(even){
		float: right;
	}

	/* footer */
	.footer-bottom .row{
		padding-bottom: 0;
	}
	.footer-links .col {
	    width: 33.33% !important;
	    margin: 0px;
	    height: 145px;
	    padding-right: 15px;
	}
	.footer-bottom .contact-info li{
		width: 28%;
		margin: 0 0 15px 5%!important;
		font-size: 15px;
	}


	/* empreendimentos */
	.developments .common li{
		margin-bottom: 30px;
	}

	#imoveis-detalhes .rightcol{
		margin: 0 0 50px;
	}
	#imoveis-detalhes .rightcol::after{
		content: '';
		clear: both;
		display: block;
	}
	#imoveis-detalhes .fillform,
	#imoveis-detalhes .contact-info2{
		float: left;
		width: 45%;
		margin: 0;
	}
	#imoveis-detalhes .contact-info2{
		float: right;
		margin-top: 81px;
	}

	/* clientes/parceiros */
	.partners ul{
		margin: 0;
	}
	.partners li{
		display: block;
		width: 48%;
		margin: 0 0 30px;
		float: left;
	}
	.partners li:nth-child(even){
		float: right;
	}
	.partners li img{
		width: 100%;
	}

}